/*Biblioteca de ícones*/
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

/*Estilo de folha*/
@import url(header.css);
@import url(section-hero.css);
@import url(trustbar.css);
@import url(section-service.css);
@import url(section-cta.css);
@import url(section-tools.css);
@import url(section-progress.css);
@import url(section-project.css);
@import url(section-faq.css);
@import url(section-contact.css);
@import url(popup.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #700F3A;
    --primary-dark: #4a0a27;
    --primary-light: #8d1348;
    --accent: #D4AF37;
    --white: #ffffff;
    --gray-light: #f8f9fa;
    --gray: #6c757d;
    --dark: #212529;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    color: var(--dark);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        display: none;
    }

    .hero h1, 
    .project-image {
        font-size: 1.4rem;
    }

    .stat-number, 
    .section-header h2, 
    .cta-section h2 {
        font: 1.2rem;
    }

    .logo, 
    .service-icon, 
    .service-card h3, 
    .step-number,
    .hero p, 
    .section-header p, .cta-section p, 
    .cta-primary, 
    .cta-secondary, 
    .submit-btn, 
    .form-group input, .form-group textarea {
        font-size: 1rem;
    }
    
    .stat-label, 
    .testimonial-role,
    .project-tag{
        font-size: .8rem;
    }

    .hero-column {
        display: flex;
        flex-direction: row;
    }

    .cta-primary, 
    .cta-secondary {
        padding: 1rem 2rem;
    }

    .contact-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .section-header h2 {
        font-size: 2rem;
    }
}