@import url('./index.css');

main{
  width: 100vw; height: 100vh;
  font-size: 4.4rem;
}

.animation-background{
  background: linear-gradient(270deg, #d1cfb4, #eee);
  background-size: 400% 400%;

  -webkit-animation: AnimationOwmnerName 30s ease infinite;
  -moz-animation: AnimationOwmnerName 30s ease infinite;
  animation: AnimationOwmnerName 30s ease infinite;
}
