/* import ****************************************/
@import url('./footer.css');
@import url('./to-top.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

/* reset ****************************************/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* visual ID ****************************************/
:root{
  --primaryColor: #700F3A /* #113B71 /*#0B2649 /*#113B71 #0C2340*/;
  --secundaryColor: #D9B95B /*#E3CC5F /*#E9E548 #FFA500*/;
  --terciaryColor: #E4E6E5 /*#eee*/;
  --grayDarkColor: #343735 /*#303030*/;
  --darkColor: #000000;
  --brownDarkColor: #4A2D0A;

  --backgrounColor: #eee;
  
  --fontTitle: 'Montserrat', sans-serif;
  --fontText: 'Montserrat', sans-serif;
  
  --titleColor: #1a1a1a;
  --textColor: #2c2c2c;
  
  --sizeSmall8: .8rem;
  --sizeSmall12: 1.2rem;
  --sizeSmall16: 1.6rem;
  --sizeMedium18: 1.8rem;
  --sizeMedium24: 2.4rem;
  --sizeMedium28: 2.8rem;
  --sizeLarge32: 3.2rem;
  --sizeLarge36: 3.6rem;
  --sizeLarge48: 4.8rem;
}

/* pattern page ****************************************/
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: var(--backgrounColor);
  font-family: var(--fontText);
  font-size: var(--sizeSmall16);
  color: var(--textColor);
}

/* text selection ****************************************/ 
::selection {
  background-color: rgba(255, 166, 0, 0.5);
}

/* scrollbar ****************************************/
::-webkit-scrollbar {
  width: var(--sizeSmall12);
  height: 0;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  border-radius: var(--sizeLarge36);
}

::-webkit-scrollbar-track {
  background-color: var(--backgrounColor);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  border: 4px solid var(--backgrounColor);
  padding: 4px;
}  

/* title ****************************************/ 
h1, h2, h3, h4, h5, h6{
  font-family: var(--fontTitle);
  color: var(--titleColor);
}

/* display ****************************************/
.flex-center {
  display: flex;
  align-items: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
