.btn-to-top{
    width: 35px; height: 35px;
    display: flex;
    position: fixed;
    right: 4%; bottom: 4%;
    background-color: var(--textColor); /*rgba(227, 204, 95, .5);*/
    color: var(--backgrounColor);
    font-size: 2.4rem;
    padding: 1.6rem;
    border: 1px solid var(--backgrounColor);
    border-radius: .4rem;
}

.btn-to-top:hover{
    background-color: var(--textColor); /*rgba(227, 204, 95, .75);*/
    border: 2px solid var(--backgrounColor);
}
